/node_modules
/misc
/tmp
/tmp2
/tmp_avatar
/ssl
/resources
/secret.txt
/favicon.psd
/.idea
/.vscode
*.DS_Store
/exampleQuestions.json
/tEaterSettings.js

/static/tools/*
!static/tools/*.htm
!static/tools/*.css
/static/tools.zip

/external_pkgs/MathJax-2.6-latest

/test.js
/run_as_production
#/nkc_modules/mailSecrets.js
/static
/dump/*
/run
/npm-debug.log
/nkc_modules/private_settings.js