/node_modules
/misc
/tmp
/tmp2
/tmp_avatar
/ssl
/resources/avatar
/resources/newavatar
/resources/newavatar_small
/resources/im_test
/resources/upload
/resources/thumbnails
/resources/site_specific
/secret.txt
/favicon.psd
/.idea
/.vscode
*.DS_Store
/exampleQuestions.json
/tEaterSettings.js

/static/tools/*
!static/tools/*.htm
!static/tools/*.css
/static/tools.zip

/external_pkgs/MathJax-2.6-latest

/test.js

/nkc_modules/mailSecrets.js

/nkc_modules/mailSecrets_template.js
/nkc_modules/server_settings.js
/static

/npm-debug.log
