extends scratch.jade

block head
  title 404 Not Found
block  body
  h1 Sorry
  :markdown
    path `#{url}` does not exist | can not be listed | is not available.
  br
  p(style="color:#999;") #{server.name}
