extends scratch.jade

block head
  include styles.jade
  title 500 Internal Server Error
block body
  h1 Sorry
  :markdown
    request to path `#{data.url}` encountered an error.
  p message:
  pre.intpad.zipline #{data.err}
  p(style="color:#999;") #{server.name}
