extends scratch.jade

block head
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  link(href="/bootstrap/css/bootstrap.css" rel='stylesheet')

  block title
    title bootstrap_base
  
  
block body

  include nkc_styles.jade
  
  block navbar
    include nkc_navbar.jade

  block content
    h1 hello world!
  
  block footer
    include nkc_footer.jade
  
  script(src='/jquery-1.11.1.js')
  script(src='/bootstrap/js/bootstrap.min.js')

  block scripts
  
  script.
    console.error('你们码农千万要注意啊，不要“见着风是得雨”啊，看到这条消息，你码农本身也要判断，明白这意思吧？ 假使一些完全无中生有的东西，你再帮他console.error()一遍，你等于……你也有责任吧？')
    console.error('github: https://github.com/ctmakro/nkc2')
