extends scratch.jade

block head
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  link(href="/bootstrap/css/bootstrap.css" rel='stylesheet')
  link(href='/nkc_styles.css' rel='stylesheet')
  
  link(rel='shortcut icon' href='/favicon.ico')

  block title
    title bootstrap_base
  
block body
  
  block navbar
    include nkc_navbar.jade

  block content
    h1 hello world!
  
  block footer
    include nkc_footer.jade
    
  script(src='/jquery/jquery-1.11.1.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/promise/promise.min.js')
  
  block scripts 
  
  :thru
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.4.0/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.4.0/highlight.min.js"></script>
  script.
    hljs.configure({useBR:true})
    $('span.xbbcode-code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
    hljs.initHighlightingOnLoad()
  
  script.
    console.log('(c)2016 成都科创科学文化研究院/广东爱理论科技有限公司')
    console.log('Project Repository: https://github.com/lovetheory/nkc2')
    
