doctype html
html(lang='zh-CN')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    title 关于从10月12日至10月26日临时闭站的通知
  body
    .container
      .row
        .col-xs-12.col-md-10.col-sm-offset-1
          h1(style='text-align:center;') 关于从10月12日至10月26日临时闭站的通知
          p 尊敬的会员：
          p 论坛计划进行数据库更换、底层代码重构和若干业务逻辑改造，为了避免改造进度和新增数据之间产生冲突，保障改造工作顺利进行，兹定于2017年10月12日12时至2017年10月26日12时期间暂停提供公众访问服务。给您带来不便，我们深表歉意，望广大会员谅解。
          br
          p(style='text-align:right;') 科创论坛
          p(style='text-align:right;') 2017-10-10
