doctype html
html(lang='zh-CN')
  head
    title '闭站'
  body
    h1 关于从10月12日至10月26日临时闭站的通知
    p 尊敬的会员：
    p 论坛计划进行数据库更换、底层代码重构和若干业务逻辑改造，为了避免改造进度和新增数据之间产生冲突，保障改造工作顺利进行，兹定于2017年10月12日12时至2017年10月26日12时期间暂停提供公众访问服务。给您带来不便，我们深表歉意，望广大会员谅解。
    p 科创论坛
    p 2017-10-10
