.row
  .col-xs-8
    .row
      .col-xs-6
        input#file-selector(type='file' multiple)
        br
      .col-xs-6
        button#upload-button() 上传
    .row
      .col-xs-12
        div#paste-target 黏贴上传测试中。
        
    .row
      .col-xs-12
        div
          p#print-result
  
  .col-xs-4
    h1#upload-counter
//end of uploader
