div(id='list-template' class='list-group-item' style='padding:8px;padding-left:15px;')
  .media
    .media-left.media-middle
      a(href='{{linksrc}}')
        div(style='width:64px;max-height:64px;')
          img.media-object(src='{{imgsrc}}' align='right' style='max-width:64px;')
    .media-body.media-middle
      .row
        .col-xs-12
          p {{description}} 
