extends bootstrap_base.jade

block title
  title #{data.site.name} - #{data.site.description}

block content        
  .container-fluid
    .row
      .col-md-12
        h4(style='color:gray;') [ 学术委员会 ] 已经有 #{data.answersheet_count} 人次通过了测试
      
    .row
      - var cindex = 0
      each group,gindex in data.grouparray
        - var parent = group.parentforum
        each forum,findex in group.forumgroup 
          - var index = cindex + findex
          include interface_home_singleforum.jade
          
        - cindex += group.forumgroup.length
              
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
