.row
  .col-xs-12
    .row
      .col-xs-12
        input#file-selector(type='file' multiple style='float:left;')
        button.btn.btn-default#upload-button(style='float:left;') 上传
        span （最大25MB）
        text#upload-counter(style='float:left; margin-left:20px')
        text#upload-percentage(style='float:left; margin-left:5px') 0%
    .row
      .col-xs-12
        style.
          .pastearea {
            border-color: #ACC585;
            border-width: 2px;
            border-style: dashed;
            background-color: #ECF3E2;
            //height: 60px;
            margin-top:10px;
            //margin-bottom:-15px;
          }
        
        .pastearea#paste-target
          p.text-center 剪贴板上传测试中，先点一下我，再 Ctrl+V 黏贴。
        
    .row
      .col-xs-12
        div
          p#print-result
      
//end of uploader
