extends bootstrap_base.jade

block title
  title 附件上传测试

block content        
  .container
    .row
      .col-md-6
        .panel.panel-default
          .panel-body
            //uploader section
            .row(id='file-uploading' target='resources/')
              .col-xs-8
                .row
                  .col-xs-6
                    input#file-selector(type='file' multiple)
                    br
                  .col-xs-6
                    button#upload-button() 上传
                .row
                  .col-xs-12
                    div#paste_target 黏贴上传测试中。
                    
                .row
                  .col-xs-12
                    div
                      p#print-result
              
              .col-xs-4
                h1#upload-counter
            //end of uploader
      .col-md-6
        .panel.panel-default
          .panel-body
            h4 something unready here
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
  script(src='/interface_attachment_uploader.js')
  
