extends bootstrap_base.jade

block title
  title 编辑器 - 科创论坛
block content
  .container-fluid(style='max-width:1400px')
    if !data.user
      .row
        .col-xs-12.f12
          h1 尚未登录
          span 请先
          a(href='/login') 登陆
    else
      #editor

block scripts
  script(src='/interface_common.js')
  script(src='/nkcEditor.js')
//Created by lz on 2017/7/5.

