extends bootstrap_base.jade

block title
  link(href='/interface_experimental.css' rel='stylesheet')
  title 管理界面测试
  
block content
  
  .container
    .row
      .col-xs-12
        h4 这是管理界面
        
    hr
    .row
      .col-xs-12
        .panel.panel-default.f12
          .panel-body
            #Root

      .col-xs-6
        .panel.panel-default.f12
          .panel-body
            h4 这里是回显
            pre#logger
            
      .col-xs-6
        .panel.panel-default
          .panel-body
            h4 特殊操作
            button.btn.btn-default(onclick="nkcAPI('updateAllThreads').then(jalert)") 更新全部帖子数据
            button.btn.btn-default(onclick="nkcAPI('updateAllForums').then(jalert)") 更新全部板块数据
                
block scripts
  script(src='/react.js')
  script(src='/JSXTransformer.js')
  script(src='/interface_common.js')
  script(type='text/jsx;harmony=true' src='/interface_experimental.js')
