//do sth with the post variable here

if(index==0)
else
  hr
.media
  .media-left.media-top
    a(href='#')
      img.media-object.avatar(src='http://bbs.kechuang.org/windid/attachment/avatar/000/00/00/10_middle.jpg' style='width:60px;height:60px;')
  .media-body.media-top
    .row
      .col-xs-12
        p.lighttext #username #{post.toc}
        p #{post.c}
