extends bootstrap_base.jade

block title
  title #{data.thatuser.username} - 科创论坛
  
block content
  
  -var thatuser = data.thatuser
  -var thatuid = thatuser._key
  -var isViewingSelf = data.user && data.user._key===thatuser._key //lazy evaluation
  
  .container
  
    if isViewingSelf
      include interface_profile_recent.jade
      hr
      include interface_profile_info.jade
    else
      include interface_profile_info.jade
      hr
      include interface_profile_recent.jade
  
  include debug_output.jade
block scripts
  
  script(src='/interface_common.js')
