extends bootstrap_base.jade

block title
  title 附件上传测试

block content        
  .container
    .row
      .col-md-6
        .panel.panel-default(id='file-uploading' target='resources/')
          .panel-body
            //uploader section
            include interface_attachment_uploader_uploader.jade
            
        .panel.panel-default
          .panel-body
            textarea#content.form-control(rows='20' placeholder='内容')
            
      .col-md-6
        .panel.panel-default
          .panel-body(id='list-container' datasource='/api/resources/mine')
            include interface_attachment_list_display.jade
            
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
  script(src='/interface_attachment_uploader.js')
  script(src='/interface_attachment_list_display.js')
  
