extends bootstrap_base.jade

block title
  title 注册

block content
  if data.getcode
    .container
      .row
        .col-sm-12
          
          div.f12(style='line-height:1.8;')
            :markdown
              # 获取注册码
              --------
              
              目前仅支持参加注册测试获取注册码。
              
              已经登录的老用户，通过测试后可以开始发帖。
              

              
              请在下面选择您最擅长的题目类别。通过任一类别测试，均可获得注册码。
          
          
          -var categories = {'phys':'物理学','mix':'混合基础题','agri':'农业技术','hedc':'高能材料','cs':'计算机科学','3dp':'3D打印'}
          -for(k in categories)
            p.f14
              a(href='/exam?category=#{k}') 参加 【#{categories[k]}】 测试
              
          img(src='/resources/site_specific/kclogo_misaka1.png')
              
  
  if !data.getcode
    .container
      .row
        .col-sm-12
          h1 注册
          p 欲于科创论坛交流，请先注册一个账号。
          br
          img(src='/resources/site_specific/kclogo_umaru1_nc.png')
          div.f12(style='line-height: 1.8;')
            include:markdown EULA.md
          
          hr
          .form-horizontal.f12
          
            .form-group
              label.control-label.col-sm-3 注册码
              .col-sm-6
                input#regcode.form-control(type='text' placeholder='必须有' value='#{data.code||""}')
              .col-sm-3.control-label(style='text-align:left')
                a(href='/register?getcode=true') 获取注册码
                
            .form-group
              label.control-label.col-sm-3 用户名
              .col-sm-6
                input#username.form-control(type='text' placeholder='字母、数字、汉字，区分大小写' onkeydown='username_keypress()')
                
            .form-group
              label.control-label.col-sm-3 邮箱
              .col-sm-6
                input#email.form-control(type='email' placeholder='john@example.com' onkeydown='email_keypress()')
                
            .form-group
              label.control-label.col-sm-3 密码
              .col-sm-6
                input#password.form-control(type='password' placeholder='至少6位' onkeydown='password_keypress()')
              
            .form-group
              label.control-label.col-sm-3 再次输入密码
              .col-sm-6
                input#password2.form-control(type='password' placeholder='重复一次' onkeydown='password2_keypress()')
          
            .form-group
              .col-sm-offset-3.col-sm-10
                //offset 2 grids
                button.btn.btn-default(onclick='register_submit()') 提交
                
            .form-group
              .col-sm-offset-3.col-sm-6
                #error_info_panel.panel.panel-default(style='display:none;')
                  .panel-body
                    div#error_info.d-inline.lighttext() 

  include debug_output.jade
    
block scripts
  script(src='/interface_common.js')
  script(src='/nkc_regex_validation.js')
  script(src='/interface_user_register.js')
