extends bootstrap_base.jade

block title
  title #{data.site.name} - #{data.site.description}

block content        
  .container-fluid(style='max-width:1400px')

    
    //include interface_home_newest.jade
    
    .row
      .col-md-12
        h5(style='color:#ccc;') [ 学术委员会 ] 已经有 #{data.answersheet_count} 人次通过了测试
    
    .row
      - var cindex = 0
      each group,gindex in data.grouparray
        - var parent = group.parentforum
        each forum,findex in group.forumgroup 
          - var index = cindex + findex
          include interface_home_singleforum.jade
          
        - cindex += group.forumgroup.length
    
    
    .row
      .col-md-12
        hr.hrNarrowSpace
        :thru
          <ul class="HomeFriendlyLink">
          <li><a href="http://sccq.net/" target="_blank">四川CQ论坛</a></li>
          <li><a href="http://hi.baidu.com/gyfaming" target="_blank">公益发明</a></li>
          <li><a href="http://www.leiphone.com/" target="_blank">雷锋网</a></li>
          <li><a href="http://gyhj.org/" target="_blank">故园怀旧</a></li>
          <li><a href="http://www.5csf.com" target="_blank">5C科幻协会</a></li>
          <li><a href="http://www.timestation.cn" target="_blank">准时钟表网</a></li>
          <li><a href="http://www.hellocq.net/forum" target="_blank">hellocq火腿社区</a></li>
          <li><a href="http://www.haodiy.net" target="_blank">haodiy音响电子制作</a></li>
          <li><a href="http://www.moz8.com" target="_blank">模友之吧</a></li>
          <li><a href="http://tieba.baidu.com/f?kw=%BF%C6%B4%B4" target="_blank">科创吧</a></li>
          <li><a href="index.php?m=link&amp;c=index&amp;a=run" class="J_link_apply">申请链接</a></li>
          </ul>
    
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
