extends bootstrap_base.jade

block title
  title #{data.site.name} - #{data.site.description}

block content        
  .container-fluid
    .row
      - var cindex = 0
      each group,gindex in data.grouparray
        - var groupcolor = Math.floor(Math.random()*16777216).toString('16')
        each f,findex in group.forumgroup 
          - var index = cindex + findex
          include interface_home_singleforum.jade
          
        - cindex += group.forumgroup.length
              
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
