.panel.panel-default
  .panel-heading
    .f12 一览
  .panel-body
    for i,index in data.forums
      .ForumsListBody
        if data.forum
          if i._key == data.forum._key
            span > 
        a(href='/forum/#{i._key}')
          span #{i.display_name} 
          span(style='color:brown;') #{i.count_posts_today||""}
        
