extends bootstrap_base.jade

block title
  title 重置密码 - 科创论坛
  
block content
  
  .container
    .row
      .col-xs-12
        if data.user && data.user.username
          script.
            location.href='/'
        
        
        if data.sent
          p 邮件已经发送，请注意查收。
          
        else
        
          if data.token
            //if token exists
            p 重置密码
            
            p Token
              br
              input#token(value='#{data.token}')
            
            p 输入新密码
              br
              input#password(placeholder='新密码')
              input#password2(placeholder='再输入一次')
          
            button#submitpassword(onclick='submitNewPassword()') 提交新密码
      
          else
          
            p 请输入忘记密码的用户名（注意大小写）。我们会给该用户名对应的邮箱发送一封验证邮件。
            
            input#username(placeholder='输入用户名')
      
            button#sendmail(onclick='sendVerificationEmail()') 发送邮件
    
  include debug_output.jade
block scripts
  
  script(src='/interface_common.js')
  script.
    function sendVerificationEmail(){
      geid('sendmail').disabled=true
      var username = geid('username').value
      nkcAPI('forgotPassword',{username:username})
      .then(jalert)
      .then(function(){
        location.href='/forgotPassword?sent=true'
      })
      .catch(function(err){
        jwarning(err)
        geid('sendmail').disabled=false
      })
    }
    
    function submitNewPassword(){
      geid('submitpassword').disabled=true
      nkcAPI('newPasswordWithToken',{
        password:gv('password'),
        password2:gv('password2'),
        token:gv('token'),
      })
      .then(jalert)
      .then(function(){
        location.href='/login'
      })
      .catch(function(err){
        jwarning(err)
        geid('submitpassword').disabled=false
      })
    }
