extends bootstrap_base.jade

block title
  title 编辑器 - 科创论坛
  
block content
  
  #ife.container
    .row
      .col-xs-12.col-sm-7.col-md-6
        h4 编辑内容
        .form-group
          input#title.form-control(type='text' placeholder='标题')

        .form-group
          textarea#content.form-control(rows='12' placeholder='内容' style='resize:none;')
          
        .form-inline
          .form-group
              input#target.form-control(placeholder='发表至' value='#{(data.replytarget?data.replytarget:"")}')

            select#lang.form-control
              option Markdown
              option Plain
              option BBCode
          
            button#post.btn.btn-default(type='submit' style='float:right;') 发表
        hr
        .panel.panel-default
          .panel-body(id='file-uploading' target='resources/')
            //uploader section
            include interface_attachment_uploader_uploader.jade
            
        .panel.panel-default
          .panel-body(id='list-container' datasource='/api/resources/mine')
            include interface_attachment_list_display.jade
                
      .col-xs-12.col-sm-5.col-md-6
        h4 预览
        .panel.panel-default
          .panel-body.post-body
            div
              h4#parsedtitle
            div#parsedcontent
    
  
  include debug_output.jade
block scripts
  //script(src='/marked.js')
  script(src='/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xbbcode.js')
  
  script(src='/interface_common.js')
  script(src='/nkc_render.js')
  script(src='/interface_editor.js')
  
  script(src='/interface_attachment_uploader.js')
  script(src='/interface_attachment_list_display.js')
  
  if data.replytarget.indexOf('forum')>=0
    script.
      geid('title').focus();
  else
    script.
      geid('content').focus();
  
