for pf in popPersonalForums
    a.nkc-figure-2(href='/m/#{pf._key}')
      div(style='width: 100%;height: 100%; position: absolute;')
        img(src='/avatar/#{pf._key}' style='width: 100%; height: 100%; border-radius: 5px;')
        div.nkc-figure-text &nbsp;#{pf.display_name}