extends bootstrap_base.jade

block title
  title 登陆
  
block styles
  include nkc_styles.jade
  
block content
  
  .container
    .row
      .col-sm-12.col-md-9
        h1 登陆
        p 还记得用户名吗？ 如果还没有账号，请 #[a(href='register') 注册]。
        
        hr
        .form-horizontal()
          .form-group
            label.control-label.col-sm-3 用户名
            .col-sm-6
              input#username.form-control(type='text' placeholder='用户名' onkeydown='username_keypress()')
              
          .form-group
            label.control-label.col-sm-3 密码
            .col-sm-6
              input#password.form-control(type='password' placeholder='密码' onkeydown='password_keypress()')
        
          .form-group
            .col-sm-offset-3.col-sm-3
              //offset 2 grids
              button.btn.btn-default(onclick='login_submit()') 提交
              
          .form-group
            .col-sm-offset-3.col-sm-6
              #error_info_panel.panel.panel-default(style='display:none;')
                .panel-body
                  div#error_info.d-inline.lighttext() 
      

  include debug_output.jade
    
block scripts
  script(src='/interface_common.js')
  script(src='/interface_user_login.js')


      
                
