extends bootstrap_base.jade

block title
  title if_e
  
block styles
  include nkc_styles.jade
  
block content
  include nkc_navbar.jade
  
  #ife.container
    .row
      .col-md-6
        h4 发表内容
        .form-group
          input#title.form-control(type='text' placeholder='标题' onkeyup='update()')

        .form-group
          textarea#content.form-control(rows='20' placeholder='内容' onkeyup='update()')
          
        .form-inline
          .form-group
              input#target.form-control(placeholder='发表至' value='#{(editor.target?editor.target:"")}')

            select#lang.form-control
              option Markdown
              option Plain
              option BBCode
          
            button#post.btn.btn-default(type='submit' onclick='submit()') 发表
          
      .col-md-6
        h4 预览
        .panel.panel-default
          .panel-body
            div
              h4#parsedtitle
            div#parsedcontent
    .row
      br
block scripts
  //script(src='/marked.js')
  script(src='/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xbbcode.js')
  
  script(src='/interface_common.js')
  script(src='/interface_editor.js')
