extends bootstrap_base

block title
  title #{data.user.username} - 科创论坛

block content
  .container
    if data.user == undefined
      .row
        .col-sm-12
          span 个人信息暂时不对游客公开,请先
          a.alert-info(href='/login') 登录
          span 或
          a.alert-info(href='/register') 注册
          span 以继续浏览

    else
      hr.hrNarrowSpace
      for obj in data.dynamics
        include interface_single_dynamic



//Created by lzszo on 2017/4/26.

