

.rightalign {
  text-align:right;
}
.lighttext {
  color:#bbb;
  font-size:small;
}
.f16 {
  font-size:16pt;
}
.f14 {
  font-size:14pt;
}
.f12 {
  font-size:12pt;
}
.dirt {
  color:#611;
}

.xbbcode-code {
  display: block;
  background-color: #ECECEC;
  border-radius: 10px;
  padding: 10px;
  color: #007084;
  font-family: monospace;
  font-size: 10pt;
}

.hrNarrowSpace{
  margin-top: 10px;
  margin-bottom: 9px;
}


.HomeLatestThreadCont{

}
.HomeLatestThreadItem{margin-bottom: 18px;/* padding-bottom: 10px; *//* border-bottom-style: solid; *//* border-bottom-color: #DEDEDE; *//* border-width: 1px; */}
.HLToc{
margin-bottom: 3px;
position: relative;
}
.HLTavatar{
display: none;
vertical-align: middle;
}
.HLTavatar img{
width: 24px;
height: 24px;
border-radius: 15%;
}
.HLTtitle{
display: inline-block;
/* margin-left: 10px; */
width: calc(100% - 36px);
float: right;
overflow: hidden;
color: #2563A2;
vertical-align: middle;
}
.HLTtitletext{
overflow: hidden;
/* white-space: pre-wrap; */
/* height: 23px; */
display: inline;
color: #2563A2;
}
.HLM{
position: relative;
}
.HLMavatar{
display: inline;
vertical-align: middle;
}
.HLMavatar img{
width: 24px;
height: 24px;
border-radius: 15%;
/* opacity: 0.5; */
}

.HLMtext{
display: inline-block;
vertical-align: middle;
/* white-space: pre; */
height: 23px;
width: calc(100% - 30px);
float: right;
overflow: hidden;
color: #969696;
}
.HLMtext a{
white-space: pre;
/* color: aliceblue; */
}
.HLMlink{
  color: #929292;
}

.HLMstat{
    position: relative;
    display: inline;
    margin-right: 6px;
    /* width: 25px; */
    top: 1px;
    background-color: #EFA6A6;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.HLTstat{
    /* position: relative; */
    /* display: inline; */
    /* font-size: 14px; */
    /* text-align: center; */
    /* width: 28px; */
    /* right: 0; */
    /* top: 2px; */
    background: #7EB4DC;
    /* height: 25px; */
    /* overflow: hidden; */
    /* border-radius: 4px; */
    /* padding: 1px; */
    /* color: #FFFFFF; */
    margin-right: 4px;
    /* vertical-align: middle; */
}
.HomeFriendlyLink{

}
.HomeFriendlyLink>li{
display: inline-block;
margin-right: 20px;
}



.HomeForumContainer{
  margin-bottom: 15px;
  /* padding: 12px; */
  height: 135px;
  /* overflow-y: hidden; */
  /* border: #E2E2E2; */
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-radius: 10px; */
}
.HomeForumTitle{
  height: 26px;
  position: relative;
}

.HomeForumTitleCircle{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.HomeForumTitlePrimary{
  color: #696969;
  font-size: 16pt;
  display: inline-block;
  /* position: absolute; */
  white-space: nowrap;
  overflow:hidden !important;
  /* text-overflow: ellipsis; */
  /* right: 20px; */
  max-width: 100%;
  vertical-align: middle;
  /* left: 0; */
  /* top: 0; */
}
.HomeForumTitleSecondary{
  font-size: 10pt;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.HomeForumTitlePostCountToday{
  color: #E25252;
}
.HomeForumTitlePostCount{
  color: #A2A2A2;
}
.HomeForumTitleThreadCount{
  color: #C3943C;
}

.HomeThreadItem{
  margin-bottom: 3px;
  border-color: black;
  //
  border-style: dashed;
  border-width: 1px;
  position: relative;
  display: block;
  width: 100%;
}

.HomeThreadAvatarPosition {
  display: inline-block;
}

.HomeThreadAvatar{
  width :24px;
  height:24px;
  border-radius: 10%;
}

.HomeThreadText{
  /* margin-left:3px; */
  white-space: pre;
  display: inline-block;
  color: #2563A2;
  position: absolute;
  top: 1px;
  left: 31px;
  right: 27px;
  /* width: 200px; */
  font-size: 11pt;
  overflow: hidden !important;
}
.HomeThreadText:visited{
  color: #7A95B5;
}

.HomeThreadTextDigest{
  color: #DC871C;
}
.HomeThreadTextDigest:visited{
  color: #D4A872;
}

.HomeThreadTextRightAlign{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  background: white;
  padding-left: 3px;
  /* font-size: 12pt; */
}

.ForumName{
  margin-top: 10px;
  margin-bottom: 10px;
}
.ForumsListBody{
  margin-right: 20px;
  display: inline-block;
  width: 130px;
  position: relative;
}
.ForumsListGroupItem{
  color: #ccc;
}
.ForumsListForumItem{
  padding-left: 10px;
}

.ForumsListCountNumber{
  display: inline-block;
  position: absolute;
  right: 0;
}

.NavigationPaging{
  margin: 0;
  margin-right: 7px;
}

.reddish {
  color: #e99;
}

.blueish{
  color: #7676D0;
}

.avatar {
  border-radius: 10%;
}

.d-inline{
  display:inline;
}
p {
  margin:0px;
  margin-top:5px;
  margin-bottom:5px;
}

blockquote {
  padding:7px 10px;
  border-left-color:#ddd;
  background-color:#f8f8ee;
  margin:10px 0px;
}

//font override
body {
  //font-family:"Helvetica Neue",Helvetica,Arial,"STXihei","Microsoft YaHei","微软雅黑",sans-serif;
  font-size:12pt;
}

h1,h2,h3 {
  //font-family: "Helvetica Neue",Helvetica,Arial,"STXihei",SimHei,"Microsoft YaHei","微软雅黑",sans-serif;
}

h4,h5,h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑",sans-serif;
}

.ForumThreadList{
  border-collapse: collapse;
  display: table;
  margin-bottom: 10px;
  width: 100%;
}
.ForumThreadItem {
  position: relative;
  display: table-row;
  border-bottom-style: dashed;
  border-bottom-color: #E4E4E4;
  border-width: 1px;
}
.ForumThreadTitle{
  font-size: 18px;
  display: inline-block;
  /* vertical-align: middle; */
}
.ForumThreadItem>div {
  padding-top: 7px;
  padding-bottom: 7px;
}
.ForumThreadAvatar {
  border-radius: 10%;
  width: 40px;
}
.ForumThreadItemAvatar {
  vertical-align: middle;
  display: table-cell;
  width: 45px;
}

.ForumThreadCreatorInfo{
  display: block;
  /* width: 50%; */
}

.ForumThreadDigestText{
  color: orange;
  margin-right: 6px;
}

.ForumThreadItemContent {
  vertical-align: middle;
  /* position: absolute; */
  padding: 0;
  padding-left: 10px;
  display: table-cell;
  /* min-width: 400px; */
  /* right: 140px; */
  /* left: 45px; */
}
.ForumThreadItemReplyCount{
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  /* position: absolute; */
  color: #D28A78;
  /* width: 25px; */
  /* vertical-align: middle; */
  /* right: 100px; */
}

.ForumThreadItemReplyInfo{
  display: inline-block;
  font-size: 10px;
  /* vertical-align: bottom; */
}

.ForumThreadItemUsername{
  display: inline-block;
  color: #9E9E9E;
}
.ForumThreadItemCreationTime{
  display: inline-block;
  margin-right: 10px;
}

.ThreadBox{

}

.ThreadTitleForumLink{
  display: block;
  margin-bottom: 0;
  color: #bbb;
  font-size: 14pt;
}
.ThreadTitle {
  display: block;
  margin-bottom: 0;
}

.ThreadTitleText, .ThreadTitleText:visited{
  color: black;font-size: 22pt;margin-bottom: 5px;margin-top: 0;display: inline-block;
}

.ThreadTitleText:hover, .ThreadTitleText:focus{
  color: #6B6B6B;
  text-decoration: none;
}
.ThreadTitleAuxillary{
  display: inline-block;
  margin-left: 10px;
  /* margin-top: 8px; */
}

.ThreadTitleAuxillaryLink{
  display: inline-block;
  /* margin-left: 10px; */
  /* position: absolute; */
  /* top: 5px; */
}

.ThreadTitleAuxillaryLink a{
  display: inline-block;
  margin-right: 9px;
  color: #CBDCEA;
  /* position: absolute; */
  /* top: 5px; */
}

.ThreadTitleHr {
  margin-top: 10px;
  margin-bottom: 13px;
}
.ThreadSinglePostHr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ThreadPostBody{
  font-size: 16px;
  line-height: 1.8;
}

.ThreadPostBody img{
  max-width: 100%;
  border-radius: 5px;
  margin-right: 5px;
}

.ThreadPostBody blockquote {
  font-size: 10pt;
}

.ThreadPostAvatar{
  border-radius: 10%;
  width: 52px;
  height: 52px;
}

.ThreadPostTitle{
  color: #822;
}
.ThreadPostTitleMeta{
  display: inline-block;
  /* color: #9C9C9C; */
  margin: 0px;
  margin-right: 5px;
}

.ThreadPostTitleUsername{
  display: inline;
  margin-right: 8px;
  color: #8295A7;
}
.PostContentImage{
  max-width: 100%;
}
.PostEmbedFlash{
  width: 480px;
  max-width: 100%;
  height: 300px;
}

.PostResourceDownload{
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 5px;
}
.PostResourceDownloadLink{

}
.PostResourceDownloadThumbnail{
  display: inline;
}
.PostResourceFileSize{
  font-size: 10pt;
  display: inline;
  margin-left: 3px;
  color: #d66;
}
.ResourceList{

}
.ResourceListItem{
  display: block;
  margin-bottom: 5px;
}
.ResourceListItemThumb{
  display: inline-block;
  margin-right: 10px;
}
.ResourceListItemText{
  display: inline-block;
}

.ThreadPostCredits{
  display: table;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #D8D8D8;
  /* background-color: #FFFFFF; */
  border-radius: 5px;
}
.ThreadPostCreditItem{
  display: table-row;
  font-size: 14px;
}
.ThreadPostCreditItem>div{
  display: table-cell;
  padding: 3px;
}
.TPCQ ,.TPCType{
  font-size: 16px;
}
.TPCQ{
  color: #CC0000;
  /* font-weight: bold; */
}
.TPCIAI{
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.padless{
  padding:0px;
}

.parent{
  position:relative;
  width:100%;
}

.avatar-left {
  /* margin-top: 10px; */
  margin-bottom: 0;
  width: 52px;
  float: left;
}

.content-right {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  width: calc(100% - 63px);
  /* min-width: 410px; */
  float: right;
}

.dclearfix:after { //clearfix exists in bootstrap already
  content: "";
  display: table;
  clear: both;
}

.DigestThreadList{
  position: relative;
}
.DigestThreadListItem{
  position: relative;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-left-width: 5px; */
  /* border-color: #E8E8E8; */
  /* background: #FBFBFB; */
  /* border-radius: 4px; */
  /* padding: 10px; */
  margin-bottom: 12px;
}
.DigestThreadTitle{
  font-size: 18px;
  color: #6F6F6F;
  font-family: initial;
}
.DigestThreadAvatar{
  width: 52px;
  height: 52px;
  border-radius: 5px;
}
.DigestThreadAvatarPlace{
  display: inline-block;
  vertical-align: top;
  width: 52px;
  height: 52px;
}
.DigestThreadBody{
  display: inline-block;
  position: relative;
  width: calc(100% - 72px);
  margin-left: 12px;
}
.DigestThreadContent{
  /* margin-left: 10px; */
  font-size: 11pt;
  color: #708CCE;
  overflow: hidden;
}
.DigestThreadMeta{
  /* margin-left: 10px; */
  color: #C5C5C5;
}
.DigestThreadMeta>span{
  margin-right: 10px;
}  