hr
.container
  .row
    .col-md-12
      p #{server.name}
      p #[a(href='#{server.github}') #{server.github}]
      p #{data?data.site?data.site.copyright:'':''}
      br
      p 蜀ICP备11004945号-2 川公网安备 51010802000058号
