style.
  .navbar {
    margin-bottom:15px;
  }

nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') 科创论坛
    
    .navbar-left
      ul.nav.navbar-nav
        li.active
          a 工具
        li
          a 教学
        li
          a 发帖
    
    .navbar-right
      ul.nav.navbar-nav
        li
          a 登录
    .navbar-right
      form.navbar-form(role='search')
        .form-group
          input.form-control(type='text',placeholder='搜索')
        button.btn.btn-default(type='submit') 走起
