style.
  .rightalign {
    text-align:right;
  }
  .lighttext {
    color:#bbb;
    font-size:small;
  }
  .avatar {
    border-radius: 10%;
  }
  .d-inline{
    display:inline;
  }
  p {
    margin:0px;
    margin-top:5px;
    margin-bottom:5px;
  }
  
  blockquote {
    padding:7px 10px;
    border-left-color:#ddd;
    background-color:#f8f8ee;
    margin:10px 0px;
  }
