style.
  .navbar {
    margin-bottom:15px;
  }

nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') 科创论坛
    
    .navbar-left
      ul.nav.navbar-nav
        li(class="#{data.navbar.highlight=='tools'?'active':''}")
          a 工具
        li(class="#{data.navbar.highlight=='tutorial'?'active':''}")
          a 教学
        li(class="#{data.navbar.highlight=='editor'?'active':''}")
          a(href='/e') 发帖
    
    .navbar-right
      ul.nav.navbar-nav
        if data.userinfo
          li
            a(href='/me') #{data.userinfo.username}
          li
            a(href='/logout') 登出
        else
          li
            a(href='/login') 登录
        
    .navbar-right
      form.navbar-form(role='search')
        .form-group
          input.form-control(type='text',placeholder='搜索')
        button.btn.btn-default(type='submit') 走起
