
.rightalign {
  text-align:right;
}
.lighttext {
  color:#bbb;
  font-size:small;
}
.f16 {
  font-size:16pt;
}
.f14 {
  font-size:14pt;
}
.f12 {
  font-size:12pt;
}
.dirt {
  color:#611;
}

.hrNarrowSpace{
  margin-top: 10px;
  margin-bottom: 9px;
}
.HomeForumContainer{
  margin-bottom: 15px;
  /* height: 220px; */
  /* overflow-y: hidden; */
}
.HomeForumTitle{
  height: 26px;
  position: relative;
}
.HomeForumTitlePrimary{
  display: block;
  position: absolute;
  white-space: nowrap;
  overflow:hidden !important;
  /* text-overflow: ellipsis; */
  right: 20px;
  left: 0;
  top: 0;
}
.HomeForumTitleSecondary{
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.HomeThreadItem{
  margin-bottom: 3px;
  border-color: black;
  //
  border-style: dashed;
  border-width: 1px;
  position: relative;
  display: block;
  width: 100%;
}

.HomeThreadAvatarPosition {
  display: inline-block;
}
.HomeThreadAvatar{
  width :24px;
  height:24px;
}

.HomeThreadText{
  /* margin-left:3px; */
  /* display: inline-block; */
  position: absolute;
  top: 1px;
  left: 31px;
  right: 27px;
  /* width: 200px; */
  /* height: 30px; */
  /* overflow: hidden; */
}

.HomeThreadTextInner{
  display: inline-block;
  white-space: pre;
  overflow:hidden !important;
  /* text-overflow: ellipsis; */
  /* width: calc(100% - 58px); */
  width: 100%;
}

.HomeThreadTextRightAlign{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  /* font-size: 12pt; */
}

.ForumsListBody{
  display: inline-block;
  width: 110px;
}
.ForumsListGroupItem{
  color: #ccc;
}
.ForumsListForumItem{
  padding-left: 10px;
}

.reddish {
  color:#e99;
}

.avatar {
  border-radius: 10%;
}

.d-inline{
  display:inline;
}
p {
  margin:0px;
  margin-top:5px;
  margin-bottom:5px;
}

blockquote {
  padding:7px 10px;
  border-left-color:#ddd;
  background-color:#f8f8ee;
  margin:10px 0px;
}

//font override
body {
  //font-family:"Helvetica Neue",Helvetica,Arial,"STXihei","Microsoft YaHei","微软雅黑",sans-serif;
  font-size:12pt;
}

h1,h2,h3 {
  //font-family: "Helvetica Neue",Helvetica,Arial,"STXihei",SimHei,"Microsoft YaHei","微软雅黑",sans-serif;
}

h4,h5,h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑",sans-serif;
}

.ForumThreadList{
border-collapse: collapse;
display: table;
}
.ForumThreadItem {
  position: relative;
  display: table-row;
}
.ForumThreadItem>div {
  padding-top: 3px;
  padding-bottom: 3px;
}
.ForumThreadAvatar {
border-radius: 10%;
width: 45px;
}
.ForumThreadItemAvatar {
  vertical-align: middle;
  display: table-cell;
  width: 45px;
}
.ForumThreadItemContent {
  vertical-align: middle;
  /* position: absolute; */
  padding: 0;
  padding-left: 10px;
  display: table-cell;
  /* top: 0px; */
  /* right: 140px; */
  /* left: 45px; */
}
.ForumThreadItemReplyCount{
  display: table-cell;
  /* position: absolute; */
  color: #D28A78;
  width: 40px;
  vertical-align: middle;
  /* right: 100px; */
  }

.ForumThreadItemReplyInfo{
  display: table-cell;
  /* position: absolute; */
  vertical-align: middle;
  width: 100px;
  /* right: 0px; */
}
.ForumThreadItemUsername{
  display: inline-block;
  color: #9E9E9E;
}
.ForumThreadItemCreationTime{
  display: inline-block;
  margin-right: 10px;
}

.ThreadBox{

}

.ThreadTitleForumLink{
  display: block;
  margin-bottom: 5px;
  color: #bbb;
  font-size: 14pt;
}
.ThreadTitle {
  display: inline-block;
  margin-bottom: 0;
}
.ThreadTitleAuxillary{
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
}

.ThreadTitleAuxillaryLink{
  display: inline-block;
  margin-left: 10px;
  /* position: absolute; */
  /* top: 5px; */
}
.ThreadTitleHr {
  margin-top: 10px;
  margin-bottom: 13px;
}
.ThreadSinglePostHr {
  margin-top: 10px;
  margin-bottom: 12px;
}

.ThreadPostBody{
  font-size: 12pt;
  line-height: 1.6;
}

.ThreadPostBody img{
  max-width: 100%;
}

.ThreadPostBody blockquote {
  font-size: 10pt;
}

.PostContentImage{
  max-width: 100%;
}

.PostResourceDownload{
  display: inline-block;
}
.PostResourceDownloadLink{

}
.PostResourceDownloadThumbnail{
  display: inline;
}
.PostResourceFileSize{
  font-size: 10pt;
  display: inline;
  margin-left: 3px;
  color: #d66;
}
.ResourceList{}
.ResourceListItem{
    display: block;
    margin-bottom: 5px;
}
.ResourceListItemThumb{
    display: inline-block;
    margin-right: 10px;
}
.ResourceListItemText{
    display: inline-block;
}

.padless{
  padding:0px;
}

.parent{
  position:relative;
  width:100%;
}

.avatar-left {
  width: 64px;
  float: left;
}

.content-right {
  width: calc(100% - 78px);
  float: right;
}

.dclearfix:after { //clearfix exists in bootstrap already
  content: "";
  display: table;
  clear: both;
}
