hr
.container
  .row
    .col-md-12
      ul.HomeFriendlyLink
        li 常用
        li
          a(href='/page/faq') 科创FAQ
        li 
          a(href='/static/tools/index.htm') 在线计算工具

      hr.hrNarrowSpace
      p #{server.name} #[a(href='#{server.github}') #{server.github}] 
      p #{data?data.site?data.site.copyright:'':''} 
      p.lighttext 蜀ICP备11004945号-2 川公网安备51010802000058号
      br
