
.rightalign {
  text-align:right;
}
.lighttext {
  color:#bbb;
  font-size:small;
}
.f16 {
  font-size:16pt;
}
.f14 {
  font-size:14pt;
}
.f12 {
  font-size:12pt;
}
.dirt {
  color:#611;
}

.hrNarrowSpace{
  margin-top: 9px;
  margin-bottom: 9px;
}

.HomeForumTitlePrimary{
  display: inline-block;
}
.HomeForumTitleSecondary{
  display: inline-block;
  margin-left: 10px;
}
.HomeThreadItem{
  margin-bottom: 3px;
  border-color: black;
  //border-style: dashed;
  border-width: 1px;
  position: relative;
}

.HomeThreadAvatarPosition {
  display:inline;
}
.HomeThreadAvatar{
  width :24px;
  height:24px;
}

.HomeThreadText{
  margin-left:3px;
  display: inline;
}

.HomeThreadTextRightAlign{
  display:block;
  position: absolute;
  right: 0px;
  top: 0px;
  /* font-size: 12pt; */
}

.ForumsListBody{
  display: inline-block;
  width: 110px;
}

.reddish {
  color:#e99;
}

.avatar {
  border-radius: 10%;
}

.d-inline{
  display:inline;
}
p {
  margin:0px;
  margin-top:5px;
  margin-bottom:5px;
}

blockquote {
  padding:7px 10px;
  border-left-color:#ddd;
  background-color:#f8f8ee;
  margin:10px 0px;
}

//font override
body {
  //font-family:"Helvetica Neue",Helvetica,Arial,"STXihei","Microsoft YaHei","微软雅黑",sans-serif;
  font-size:12pt;
}

h1,h2,h3 {
  //font-family: "Helvetica Neue",Helvetica,Arial,"STXihei",SimHei,"Microsoft YaHei","微软雅黑",sans-serif;
}

h4,h5,h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","微软雅黑",sans-serif;
}

.ForumThreadList{

}
.ForumThreadItem {
  padding-bottom: 6px;
  padding-left: 0px;
}
.ForumThreadItemAvatar {
  vertical-align: middle;
  display: table-cell;
}
.ForumThreadItemContent {
  vertical-align: middle;
  width: 100%;
  padding: 0;
  padding-left: 15px;
  display: table-cell;
}
.ThreadBox{

}
.ThreadTitle {
  display: inline-block;
  margin-bottom: 0;
}
.ThreadTitleAuxillary{
  margin-left: 10px;
  vertical-align:text-bottom;
}

.ThreadTitleAuxillaryLink{
  right: 20px;
  position: absolute;
  top: 5px;
}
.ThreadTitleHr {
  margin-top: 10px;
  margin-bottom: 13px;
}
.ThreadSinglePostHr {
  margin-top: 10px;
  margin-bottom: 12px;
}

.post-body img {
  max-width:100%;
  //max-height:600px;
}

.padless{
  padding:0px;
}

.parent{
  position:relative;
  width:100%;
}

.avatar-left {
  width: 64px;
  float: left;
}

.content-right {
  width: calc(100% - 78px);
  float: right;
}

.dclearfix:after { //clearfix exists in bootstrap already
  content: "";
  display: table;
  clear: both;
}
