extends bootstrap_base.jade

block title
  title 提交问题 - 科创论坛
  
block content
  
  style.
    .red {
      color:red;
    }
    .green {
      color:#226622;
    }
  .container
    .row
      .col-xs-12.col-sm-6
        h4 向科创题库提交您的题目
        p 您可以在这里为题库撰写题目。某个题目最终是否收录入正式题库，将由论坛学术委员会决定。
      
        if data.user
          h4 撰写题目
          p.
            请按照下面列出的格式提交题目，尽量不要加空格或者回车。
          p.green.
            问答题：
            问题$答案
          p.green.
            单项选择题（4）：
            问题$正确答案$错误项1$错误项2$错误项3
          p.red.
            不支持其他未声明的格式，因为程序员比较懒。
          br

          .form-group
            textarea#content.form-control(rows='8' placeholder='内容')

          button#post.btn.btn-default(type='submit') 提交问题
          
                  
        
          h4 我最近提交的问题
          .panel.panel-default
            .panel-body.post-body
              each q,index in data.questions
                if index!=0
                  hr
                include questions_single.jade
        else
          h4 你还没有登录
          p 登录后才可以提交。

      .col-xs-12.col-sm-6  
        if data.user
          h4 所有最近提交的问题
          //a(href='/api/questions?all=true' target='_blank') 下载JSON格式
          .panel.panel-default
            .panel-body.post-body
              each q,index in data.questions_all
                if index!=0
                  hr
                include questions_single.jade
              
            
  
  include debug_output.jade
block scripts

  script(src='/interface_common.js')
  script(src='/questions_edit.js')
