style.
  * {
    box-sizing:border-box;
  }
  .zipline {
    border-width:1px;
    border-color:#999;
    border-style:dashed;
  }
  .intpad {
    padding:10px;
  }
  .halfpane {
    width:50%;
    float:left;
  }
  .darkgrey {
    color:#555;
  }
  h1,h2 {
    color:#222;
  }
  p,li,pre {
    color:#555;
  }
